@import url(http://fonts.googleapis.com/css?family=Concert+One);

* { box-sizing:border-box; }

body {
  background:#0a0a0a;
}

h2 {
   color: #999;
   background: #323232;
   border-left: 5px solid #4c4c4c;
   padding-left:15px; 
}

h1 {
  border-radius: 15px;
  border: 1px solid silver;
  padding:0px 15px 35px 15px;
  display:block;
  line-height:1.5;
  font:900 8em 'Concert One', sans-serif;
  text-transform:uppercase;
  position:absolute;
  color:#0a0a0a;
  animation:glow 10s ease-in-out infinite;
}

figure {
  animation:wobble 5s ease-in-out infinite;
  transform-origin:center center;
  transform-style:preserve-3d;
}

@keyframes wobble {
  0%,100%{ transform:rotate3d(1,1,0,40deg); }
  25%{ transform:rotate3d(-1,1,0,40deg); }
  50%{ transform:rotate3d(-1,-1,0,40deg); }
  75%{ transform:rotate3d(1,-1,0,40deg); }
}


@keyframes glow {
  0%,100%{ text-shadow:0 0 30px red; }
  25%{ text-shadow:0 0 30px orange; }
  50%{ text-shadow:0 0 30px forestgreen; }
  75%{ text-shadow:0 0 30px cyan; }
}

h1:nth-child(2){ transform:translateZ(5px); }
h1:nth-child(3){ transform:translateZ(10px);}
h1:nth-child(4){ transform:translateZ(15px); }
h1:nth-child(5){ transform:translateZ(20px); }
h1:nth-child(6){ transform:translateZ(25px); }
